

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 3.5rem;
}

dt {
   float: left;
   clear: left;
   width: 100px;
   text-align: right;
   font-weight: bold;
 }

dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

.anchor {
  padding-top: 3.5rem;
  margin-top: -3.5rem;
}

.fakelink {
  color: rgb(40, 80, 255);
}


h2 {
  border-bottom: 1px solid #999;
}

/* Navbar css */

.navcolor{
    /*background-color: #F6F6F6; */
    background-color: #000000;
    border-bottom: 1px solid #999;
    padding-bottom: 0;
    padding-top: 0;


}

.navbar-brand {
  font-size: 16px;
  font-weight: 600;
}

.navbar a {
    font-weight: 600 !important;
}

.splash {
  padding-bottom: 1em;

}

.splash-image{
  background-color: red;

  max-width: 196px;
  width: 100%;
  margin-bottom: 1em;
}

.facebook-link:hover  {
  color:rgb(59, 89, 152) !important;
}

.dartmouth-link:hover  {
  color:#00693e !important;
}


/* publication list css */


.paper-title {
  cursor: pointer;
  /*color: rgb(40, 80, 255); */
  font-weight: 600;
}

.paper-title.hover { text-decoration: underline; }

.pub-card {
  margin-bottom: 1em;
}

.pub-quicklinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pub-quicklinks li {
  display: inline;
  margin-right: 1em;
}

.publication {
  background-repeat: no-repeat;
  background-size: 94px 94px;
  background-position: 7.78333px 7.78333px;

  min-height: 108.967px;


  border: solid 1px;
  border-color: rgb(221, 221, 221);

  margin-top: 0px;
  margin-bottom: -1px;
  padding-left: 128px;

  box-sizing: border-box;
  padding-top: 4px;
  padding-bottom: 4px;
}

.bibtexref {
  margin-top: 1em;
  display: none;
}

/*  */


.lab-title {
  font-size: 28px;
  font-weight: bold;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

}

.intro-img {
  width: 100%;
  margin-bottom: 1em;
}


.card-header a {
  text-decoration: none;
}

.person-img {
  width:160px;
  height:215px;
  vertical-align: middle;
}

.person-img {
  width:160px;
  height:215px;
  vertical-align: middle;
}

.intro-container {
  padding: 30px 14px;
}



.people-container {
  padding: 30px 14px;
}


.people-group-title {
  padding-bottom: 10px;
}

.update-tag {
  color: gray;
}
